<plugin name='geb' version='0.8.0-SNAPSHOT' grailsVersion='1.3.0 &gt; *'>
  <author>Luke Daley</author>
  <authorEmail>ld@ldaley.com</authorEmail>
  <title>Geb integration for Grails</title>
  <description>Integrates the geb functional testing framework</description>
  <documentation>http://grails.org/plugin/geb</documentation>
  <type>GebGrailsPlugin</type>
  <resources>
    <resource>TheController</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>